<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database21.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="CardsWS.cardsWS" value="http://localhost:30096/cardsWS.asmx"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="cardsWSSoap" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8313/cardsWS.asmx" binding="basicHttpBinding"
    bindingConfiguration="cardsWSSoap" contract="CardService.cardsWSSoap"
    name="cardsWSSoap" />
  </client>
	</system.serviceModel>
</configuration>
